<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="BaseUrl" value="https://playwright.dev/dotnet/docs/{0}" />
       <add key="Home" value="intro"/>
       <add key="Pages" value="writing-tests,library,release-notes"/>
       <add key="Cover" value="Offline-Cover.pdf" />
   </appSettings>
</configuration>